.background {
    -fx-background-color: #585858;
}

.background2 {
    -fx-background-color: #585858;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #EFFBEF;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.check-box {
    -fx-skin: "com.sun.javafx.scene.control.skin.CheckBoxSkin";
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em;
    -fx-text-fill: #EFFBEF;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.text-fieldB {
    -fx-text-fill: #EFFBEF;
}


.combo-box {
    -fx-background-color: #585858;
    -fx-background-radius: 0;
}

.combo-box-popup .list-view {
    -fx-background-color: #585858;
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: #585858;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #2E5A66;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #346673;
}


#button-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
 -fx-background-color: linear-gradient(#2A5058, #61a2b1);
 }

.ipad-dark-grey {
     -fx-background-color:
         linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
         linear-gradient(#020b02, #3a3a3a),
         linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
         linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
         linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
     -fx-background-insets: 0,1,4,5,6;
     -fx-background-radius: 9,8,5,4,3;
     -fx-padding: 5 5 5 5;
     -fx-font-family: "Helvetica";
     -fx-font-size: 12px;
     -fx-font-weight: bold;
     -fx-text-fill: white;
     -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
 }
.ipad-dark-grey Text {
     -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
 }

 .ipad-dark-greyB {
      -fx-background-color:
          linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
          linear-gradient(#020b02, #3a3a3a),
          linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
          linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
          linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
      -fx-background-insets: 0,1,4,5,6;
      -fx-padding: 5 5 5 5;
      -fx-font-family: "Helvetica";
      -fx-font-size: 12px;
      -fx-font-weight: bold;
      -fx-text-fill: white;

  }
 .ipad-dark-greyB Text {
      -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
  }

 .tab{
      -fx-background-color: #585858;
  }

  .tab-header-background{
      -fx-background-color: #585858;
  }

  .table-view {
      -fx-base: #585858;;
      -fx-control-inner-background: #585858;;
      -fx-background-color: #585858;;
      -fx-table-cell-border-color: transparent;
      -fx-table-header-border-color: transparent;
      -fx-padding: 1;
  }

  .table-view .column-header-background {
      -fx-background-color: transparent;
  }
